*.rar filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
6.[[:space:]]Despliegue/DashBoard.rar filter=lfs diff=lfs merge=lfs -text
